/docs
/ipch
/docs/index.html
/OOT-OGRE-Framework/bin/obj
/OOT-OGRE-Framework/bin/Debug/OOT-OGRE-Framework.exe
/OOT-OGRE-Framework/bin/Debug/OOT-OGRE-Framework.pdb
/OOT-OGRE-Framework/bin/Release/OOT-OGRE-Framework.exe
/OOT-OGRE-Framework/bin/Release/OOT-OGRE-Framework.pdb
Documentation.lnk